1. **What are data structures, and why are they important?**
- Data structure are used to manage , organize , store the data in a structured way so that we can use the memory more efficient way
and it is important because we can efficiently access the data like searching, sorting  and by better algorithm we can make our code faster as well as in less memory and by the help of datastructure logic building improve
---

2. **Explain the difference between mutable and immutable data types with examples ?**
- Mutable datatypes are the datatypes in which we can make changes or we can say that these data types can be change at runtime
 - example : list , dictionary , sets
 - list_1 = [1, 2, 3, 4]   #list
 - set_1 = {1, 2, 3, 4}    # set
 - dictionary_1 = {1:"apple", 2: "banana"} #dictionary


```
# This is formatted as code
list_1 = [1, 2, 3, 4]
list[0] = 6
print(list_1)


output :
[6, 2, 3, 4]
```


- immutable datatypes are the datatypes in which we can not makes changes at runtime
 - example : string , tuples
 - string_1 = "Kartik Jain"
 - tuple_1 = (1, 2, 3, 4)
---

3. **What are the main differences between lists and tuples in Python?**
- the main difference between list and tuples are as follow



 1.   List :
  - It is mutable datatype
  - it is represented with [ ] (square brackets)
  - we can make changes in runtime
 2.   Tuple :
  - It is immutable datatype
  - it is represented as ( ) (paranethesis)
  - we can not make changes at run time

---

4. **Describe how dictionaries store data?**
- Dictionary stores the data in key - value pair in this pair each key is unique and each kay pointed to a soecific value

```
# example :
student_details = {"name" : "kartik" , "age" : 20 , "course" : "DataScience"}

```
---

5. **Why might you use a set instead of a list in Python?**
- List ans Set both are used to store the data but we use set instead of list in python because when we don't want the duplicates value we use set instead of lists as well as if we don't care about the order then also we use the set instead of list because set is more faster then list
---

6. **What is a string in Python, and how is it different from a list?**
- string in python is used to store the character but in list we can store any datatype in a single list we can store character, integer , float , boolean , etc example
 - list_1 = [1, "kartik", True, 2.6 , 3+7j]
- but in string we can only store the characters and list is mutable we can make the changes at runtime but in string we can not make the changes at runtime because string is immutable
 - example
 - str_1 = "Kartik jain"
---

7. **How do tuples ensure data integrity in Python ?**
- As we know tuple is immutable so that it can help to ensure the data integrity because we can not change the data because it is immutable and it protect data to change  

---

8. **What is a hash table, and how does it relate to dictionaries in Python ?**
- Hash table is a datastructure used to store the data in key value pair


```
# This is formatted as code
student = {
    "name": "Kartik",
    "age": 20,
    "branch": "IT"
}

print(student["name"])    


Output: Kartik

```
---

9. **Can lists contain different data types in Python?**
- yes list can contain different datatypes in python
---

10. **Explain why strings are immutable in Python?**
- immutable strings help to use the memory efficient
  - ex :
    - a = "hello"
    - b = "hello"
  they both use the same memory
- they can be hash easily
- because of immutability they are secure we can not accidently change the data
---

11. **What advantages do dictionaries offer over lists for certain tasks ?**
-  it uses keys like "name", "age" etc but in list it uses indexces
- dictionaries are faster then list because it searches by meaningful keys but list acess by position
- dictionary are more organies as compare to list
---

12. **Describe a scenario where using a tuple would be preferable over a list?**
- when we want to store the data unchangable

```
location = (28.6139, 77.2090)  # Tuple
```


- it has faster operation then listc
-it is hashable
---

13. **How do sets handle duplicate values in Python?**
- In Python, a set is a collection of unique elements — it automatically removes duplicates.
---

14. **How does the “in” keyword work differently for lists and dictionaries?**
- List -
 - The in keyword checks whether a value exists in the list.


```
# This is formatted as code
my_list = [10, 20, 30]
print(20 in my_list)    
print(40 in my_list)   

```
- Dictionary -
 - the in keyword checks whether a key exist in a dictionary or not


```
# This is formatted as code
my_dict = {"name": "Kartik", "age": 19}
print("name" in my_dict)    
print("Kartik" in my_dict)  # it will return error because kartik is a value and in keyword is not used for value only for keys  

```
---

15. **Can you modify the elements of a tuple? Explain why or why not**
- no we can not change or modify the element of a tuple because it is immutable we can change only by making new tuple but can not change the old one
---

16. **What is a nested dictionary, and give an example of its use case?**
- A nested dictionary is a dictionary inside a dictionary it allows you to store in  heirarichal structure
example :


```
# This is formatted as code
students = {
    "101": {"name": "Rahul", "age": 20, "marks": 85},
    "102": {"name": "Anjali", "age": 21, "marks": 92},
    "103": {"name": "Vikram", "age": 19, "marks": 78}
}

```
---

17. **Describe the time complexity of accessing elements in a dictionary?**
- the complexity of accessing element in a dictionary is O(1) which is fast because it access the elements by meaningful keys
---

18. **In what situations are lists preferred over dictionaries?**
- when we dont want to store the element in key value pairs
- when the order of data is matter we prefer lists
- when we iterate through the element in order
- generally list uses less memory then dictionary
---

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Before Python 3.7, dictionaries were unordered — meaning:

The order in which you insert key-value pairs was not preserved when you accessed or printed the dictionary.
- and it affect data retrival that we Cannot Access Elements by Position
---

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**
- in list we can access by indexing but in dictionary we can access by keys
-list is slower then dictionary because dictionary access it by keys but the list access by index so list took more time
-List is good for ordered sequnce but dictionary is good for mapping sequence
---

# PRACTICAL QUESTIONS :-

1. **Write a code to create a string with your name and print it?**

In [1]:
str_1 = "Kartik"
print(str_1)

Kartik

2. **Write a code to find the length of the string "Hello World"?**

In [2]:
a = "Hello Worlds"
print(len(a))

12

3. **Write a code to slice the first 3 characters from the string "Python Programming"?**

In [6]:
text = "Python Programming"
s = slice(0,3)
print(text[s])

Pyt

4. **Write a code to convert the string "hello" to uppercase?**

In [15]:
str_1 = "hello"
str_2 = str_1.upper()
print(str_2)

HELLO

5. **Write a code to replace the word "apple" with "orange" in the string "I like apple"?**

In [16]:
text_1 = "I like apple"
text_2 = text_1.replace("apple" , "orange")
print(text_2)

I like orange

6. **Write a code to create a list with numbers 1 to 5 and print it?**

In [17]:
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

7.**Write a code to append the number 10 to the list [1, 2, 3, 4]?**

In [18]:
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8. **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?**

In [19]:
num = [1, 2, 3, 4, 5]
num.remove(3)
print(num)

[1, 2, 4, 5]

9. **Write a code to access the second element in the list ['a', 'b', 'c', 'd']?**

In [20]:
list_1 = ['a','b','c','d']
list_1[1]

'b'

10. **Write a code to reverse the list [10, 20, 30, 40, 50]**

In [21]:
list_1 = [10, 20, 30, 40, 50]
list_1[::-1]

[50, 40, 30, 20, 10]

11. **Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [22]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [24]:
tup = ('red','green','blue','yellow')
tup[1::]

('green', 'blue', 'yellow')

13. **Write a code to find the minimum number in the tuple (10, 20, 5, 15).?**

In [27]:
tuple_1 = (10, 20, 5, 15)
min_1 = min(tuple_1)
print(min_1)

5

14. **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [28]:
animmal = ('dog' , 'cat' , 'rabbit')
index_cat = animmal.index('cat')
print(index_cat)

1

15. **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it**

In [30]:
fruits = ("apple" , "banana" , "kiwi")
print("kiwi" in fruits)

True

16. **Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [31]:
s1 = {'a','b','c'}
print(s1)

{'a', 'b', 'c'}

17. **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [34]:
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

18. **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [35]:
s1 = {1, 2, 3, 4}
s1.remove(4)
print(s1)

{1, 2, 3}

19. **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [37]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

20. **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [38]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

21.  **Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [39]:
dic_1 = {"name" : "kartik" , "age" : 20 , "city" : "delhi"}
print(dic_1)

{'name': 'kartik', 'age': 20, 'city': 'delhi'}

22.  **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [40]:
dic_1 = {"name" : "john" , 'age' : 25}
dic_1["country"] = "USA"
print(dic_1)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [41]:
dic_1 = {'name': 'Alice', 'age': 30}
dic_1["name"]

'Alice'

24. **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [42]:
dic_1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic_1.pop("age")
print(dic_1)

{'name': 'Bob', 'city': 'New York'}

25. **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [43]:
dic_1 = {'name' : 'Alice' , 'city': 'paris'}
print("city" in dic_1)

True

 26. **Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [44]:
lis_1 = [1, 2, 3, 4]
print(lis_1)
tup_1 = (1, 2, 3, 4)
print(tup_1)
dic_1 = {"name" : "kartik" , "age" : 20 , "city" : "delhi"}
print(dic_1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'kartik', 'age': 20, 'city': 'delhi'}

27. **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [46]:
lis_1 = [1, 45, 20, 86]
lis_1.sort()
print(lis_1)

[1, 20, 45, 86]

28. **Write a code to create a list with strings and print the element at the third index**

In [47]:
fruits = ["apple" ,"banana", "watermelon", "orange", "kiwi"]
print(fruits[3])

orange

29. **Write a code to combine two dictionaries into one and print the result.**

In [48]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = dict1 | dict2
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. **Write a code to convert a list of strings into a set.**

In [49]:
fruits = ["apple" ,"banana", "watermelon", "orange", "kiwi"]
print(set(fruits))

{'banana', 'kiwi', 'watermelon', 'orange', 'apple'}